/* inicio de css*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap");
* {
  margin: 0%;
  padding: 0%;
}

/* tipo de funte de Google Fonts*/
/* solo del titulo principal*/
/*funte de zona navegable*/
/*funte para parrafos*/
/*funte de encabezados h2*/
/*root*/
/*en un futuro tendra root*/
/*fin de root*/
.elfondo {
  background-image: url(https://images5.alphacoders.com/571/thumb-1920-571559.jpg) !important;
}

p {
  font-family: "Nunito", sans-serif;
  color: rgb(238, 226, 226);
}

/*titulos secundarios*/
.titulo2 {
  font-family: "Nunito", sans-serif;
  color: rgb(224, 220, 220);
  display: inline;
  border: 4px solid rgb(25, 124, 124);
  margin-bottom: 5;
  background-color: rgb(25, 124, 124);
  font-size: 30px;
  display: flex;
  justify-content: center;
}

/*Inicio de header*/
.header {
  grid-area: header;
}

.logo1 {
  display: flex;
  justify-content: center;
}

.logo {
  width: 17%;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  display: inline;
}

/*todo relacionado con el titulo principal*/
h1 {
  color: rgb(5, 18, 95);
  border: 4px solid rgb(4, 22, 119);
  display: inline;
  background-color: rgb(183, 218, 235);
  font-size: 50px;
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
}

/*fin de h1*/
/*inicio de zona navegable*/
/*tezto index*/
.texto1 {
  display: flex;
  justify-content: center;
  margin: 70px 10px 10px 10px;
}

/*fin texto index*/
nav ul li a {
  color: rgb(251, 254, 255);
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

.zonanav1 {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: rgb(28, 28, 92);
}

.zonanav2 {
  width: 70%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

/*fin de zona navegable*/
.Deportesfoto {
  border-radius: 10%;
  margin: 80px 100px 100px 150px;
  display: flex;
  justify-content: center;
  width: 60%;
  height: 60%;
}

.carousel1 {
  margin: 70px 70px 70px 70px;
}

/*fin de header*/
/*Inicio de zona de imagenes = article*/
.article1 {
  display: flex;
}

.divfotos1 .divfotos2 {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px 10px 10px;
}

.divfotos1 {
  margin: 10px 10px 10px 10px;
}

.divfotos2 {
  margin: 10px 10px 10px 10px;
}

.deportesfoto2 {
  width: 100%;
  margin: 10px 10px 10px 10px;
}

.deportesfoto3 {
  width: 62%;
  margin: 10px 10px 10px 80px;
  display: flex;
  align-items: center;
}

.pprin {
  display: flex;
  align-items: center;
}

.aside {
  border-radius: 9px;
  width: 100%;
  height: 100%;
  margin-left: 700px;
  background-color: blueviolet;
}

.zonavideo {
  display: flex;
  justify-content: center;
  margin-top: 40%;
}

.video1 {
  width: 40%;
  display: flex;
  justify-content: center;
}

/*termina zona de article*/
/*empieza el footer*/
.redes {
  display: inline-block;
  font-family: "Nunito", sans-serif;
}

.iconos {
  width: 4%;
}

.color {
  color: rgb(23, 131, 134);
}

.idioma {
  position: sticky;
  bottom: 0%;
  left: 95%;
  display: inline-block;
  list-style: none;
  color: black;
}

.idioma2 {
  text-decoration: none;
  color: black;
}

/*fin de footer*/
/*aplicando transicion a video de index.html*/
.video1 {
  transition: all 1;
}

.you:hover {
  transform: scale(1.3);
}

/*fin de index*/
/*aplicando css a competiciones.html*/
.competiciones1 {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin: 70px 30px 70px 30px;
}

.competiciones2 {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin: 70px 30px 70px 30px;
}

.competiciones3 {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin: 70px 30px 70px 30px;
}

.futbolcomp {
  margin: 0px 40px 0px 0px;
}

.basquetcomp {
  margin: 0px 0px 0px 10px;
}

.teniscomp {
  margin: 0px 40px 0px 0px;
}

.boxeocomp {
  margin: 0px 0px 0px 10px;
}

.voleycomp {
  margin: 0px 40px 0px 0px;
}

.rugbycomp {
  margin: 0px 0px 0px 10px;
}

.caruselcomp {
  margin: 20px 0px 20px 0px;
}

/*imagenes en deportes.html*/
.deportesfoto {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.fotosdeportes {
  width: 40%;
  display: flex;
  align-items: flex-end;
  padding: 40px 0px;
}

/*aplicando listas desplegables de bootstrap en deportes html*/
.listasdeportes {
  display: flex;
  justify-content: space-around;
  margin: 10px 30px 40px 23px;
}

.listasdeportes2 {
  display: flex;
  justify-content: space-around;
  margin: 20px 10px 10px 10px;
}

/*aplicando flex a html.videos*/
.articlehtmlvideo {
  margin: 0px 20px 0px 20px;
}

.videosyou {
  width: 95%;
}

.sectionvideos1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sectionvideos2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 490px) {
  .sectionvideos1 {
    display: block;
  }
}
/*html.idiomas*/
.volverinicio {
  position: absolute;
  bottom: 80%;
  left: 90%;
  display: inline-block;
  list-style: none;
  color: aliceblue;
}

.volverinicio2 {
  text-decoration: none;
  justify-content: center;
  flex-wrap: wrap;
}

.idiomasp {
  width: 40%;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 170px;
}

.idiomasprin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 100%;
  flex-direction: column;
}

.idiomasnombre {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  color: aliceblue;
  flex-direction: column;
}

.idiomasimagen {
  display: flex;
  width: 10%;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
