/* inicio de css*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap");
* {
  margin: 0%;
  padding: 0%;
}

/* tipo de funte de Google Fonts*/
/* solo del titulo principal*/
/*funte de zona navegable*/
/*funte para parrafos*/
/*funte de encabezados h2*/
/*root*/
/*en un futuro tendra root*/
/*fin de root*/
/*.elfondo{
    background-image: url(https://images5.alphacoders.com/571/thumb-1920-571559.jpg)!important;
    background-repeat: no-repeat;
    background-attachment: fixed;

}*/
.elfondo {
  background-color: rgb(2, 14, 48);
}

p {
  font-family: "Nunito", sans-serif;
  color: rgb(238, 226, 226);
}

/*titulos secundarios*/
.titulosh2 {
  color: aliceblue;
  font-size: 40px;
  font-weight: bold;
  transition: 0.5s linear;
}

.h2 span {
  color: aliceblue;
  font-size: 40px;
  font-weight: bold;
  transition: 0.5s linear;
}

.prueba:hover {
  transform: scale(1.1);
}

.titulo2 {
  font-family: "Nunito", sans-serif;
  color: rgb(238, 240, 233);
  display: inline;
  margin-bottom: 5;
  font-size: 80px;
  border: rgba(0, 6, 10, 0.63);
  display: flex;
  justify-content: center;
  transition: all 1s;
  margin: 0px 10px 0px 10px;
}

.prueba:hover {
  color: aliceblue;
  text-shadow: 0 0 10px rgba(60, 144, 218, 0.63), 0 0 20px rgb(156, 179, 31), 0 0 30px rgba(0, 6, 10, 0.63);
}

h3 {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 30px 30px 30px;
  font-size: 40px;
}

/*Inicio de header*/
.logo1 {
  display: flex;
  justify-content: center;
}

.logoindex {
  width: 90%;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  display: inline;
}

.logo {
  width: 14%;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  display: inline;
}

/*todo relacionado con el titulo principal*/
/*fin de h1*/
/*inicio de zona navegable*/
/*tezto index*/
.texto1 {
  display: flex;
  justify-content: center;
  margin: 70px 30px 10px 30px;
  color: rgb(231, 236, 241);
  font-size: 18px;
  cursor: pointer;
}

/*fin texto index*/
/*navbar*/
nav ul li a {
  color: rgb(250, 252, 253);
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

.zonanav1 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  padding-inline-end: 0px 40px 0px 0px;
}

.zonanav2 {
  text-decoration: underline;
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 30px;
  margin-left: 30px;
  align-items: center;
}

/*fin de zona navegable*/
/*carrusel*/
.carruselprin {
  cursor: pointer;
}

.carousel1 {
  margin: 70px 70px 70px 70px;
}

/*fin de header*/
/*Inicio de zona de imagenes = article*/
.article1 {
  display: flex;
  justify-content: space-around;
}

.divfotos1 .divfotos2 {
  display: flex;
  justify-content: space-around;
  margin: 10px 30px 10px 40px;
}

.divfotos1 .divfotos2 {
  margin: 10px 10px 10px 20px;
}

.deportesfoto2 {
  margin: 10px 10px 10px 60px;
  display: flex;
  align-items: center;
}

.deportesfoto3 {
  margin: 10px 10px 10px 80px;
  display: flex;
  align-items: center;
}

.pprin {
  display: flex;
  align-items: center;
  margin: 10px 30px 10px 30px;
  cursor: pointer;
}

/*imagenes debajo*/
.articlefem {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px 10px 10px;
}

.divfotosfem .divfotosfem2 {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px 10px 10px;
  align-items: center;
}

.fotofem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 60px;
}

.fotofem2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 60px;
}

/*parafos de las segunda linea de fotos*/
.pfem {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 10px 20px 10px 30px;
  cursor: pointer;
}

.pfem2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 10px 20px 10px 30px;
  cursor: pointer;
}

.zonavideo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.video1 {
  width: 40%;
  display: flex;
  justify-content: center;
}

/*termina zona de article*/
/*empieza el footer*/
.redes {
  display: inline-block;
  font-family: "Nunito", sans-serif;
  margin: 100px 0px 0px 0px;
}

.iconos {
  width: 4%;
}

.color {
  color: rgb(23, 131, 134);
}

.idioma {
  position: sticky;
  bottom: 0%;
  left: 95%;
  display: inline-block;
  list-style: none;
  color: rgb(243, 236, 236);
  font-size: 30px;
}

.idioma2 {
  text-decoration: none;
  color: rgb(226, 218, 218);
}

/*fin de footer*/
/*aplicando transicion de index.html*/
/*fotos debajo del  carrusel*/
.foto:hover {
  transform: scale(1.1);
}

.divfotos1 {
  transition: all 2s;
}

.divfotos2 {
  transition: all 2s;
}

.divfotosfem {
  transition: all 2s;
}

.divfotosfem2 {
  transition: all 2s;
}

/*video de youtube index*/
.you:hover {
  transform: scale(1.3);
}

.video1 {
  transition: all 2s;
}

/*fin de index*/
/*aplicando media*/
@media screen and (max-width: 490px) {
  /*logo*/
  .logo1 {
    margin-left: 45px;
  }

  /*navbar*/
  .zonanav1 {
    display: block;
  }

  .zonanav2 {
    display: block;
  }

  .navegacion {
    margin: 10px 10px 10px 10px;
  }

  /*parrafo principal*/
  .texto1 {
    margin-left: 100px;
    font-size: 30px;
  }

  /*carrusel*/
  .carousel {
    width: 80%;
  }

  /*imagenes*/
  .article1 {
    display: block;
  }

  .articlefem {
    display: block;
  }

  /*solo imagenes*/
  .deportesfoto2 {
    margin: 20px 20px 20px 20px;
  }

  .deportesfoto3 {
    margin: 20px 20px 20px 20px;
  }

  .divfotosfem {
    display: none;
  }

  .fotofem2 {
    margin: 20px 20px 20px 20px;
  }

  /*video*/
  .video1 {
    width: 70%;
  }
}
@media screen and (max-width: 414px) {
  .texto1 {
    margin-left: 90px;
    font-size: 15px;
  }
}
/*fondo para futbol.html*/
.elfondofut {
  background-image: url(https://b-static.besthdwallpaper.com/el-joven-talento-del-delantero-del-club-de-futbol-paris-saint-germain-kylian-mbappe-papel-pintado-2048x1536-93143_26.jpg) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*aplicando css a competiciones.html*/
.tituloscompeticion1 {
  font-size: 70px;
  border: black;
  border-spacing: 2px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.pcompeticiones {
  display: flex;
  justify-content: center;
  margin: 50px 50px 50px 50px;
  color: rgb(231, 236, 241);
  font-size: 18px;
  text-align: center;
}

.medio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.competiciones11 {
  margin: 50px 70px 50px 70px;
}

.competiciones1 {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin: 70px 30px 70px 30px;
}

.competiciones2 {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin: 70px 30px 70px 30px;
}

.competiciones3 {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin: 70px 30px 70px 30px;
}

.futbolcomp {
  margin: 0px 40px 0px 0px;
}

.basquetcomp {
  margin: 0px 0px 0px 10px;
}

.teniscomp {
  margin: 0px 40px 0px 0px;
}

.boxeocomp {
  margin: 0px 0px 0px 10px;
}

.voleycomp {
  margin: 0px 40px 0px 0px;
}

.rugbycomp {
  margin: 0px 0px 0px 10px;
}

.caruselcomp {
  margin: 20px 0px 20px 0px;
}

/*parrafo deportes html*/
.pdeportes {
  display: flex;
  justify-content: center;
  margin: 70px 30px 50px 30px;
  color: rgb(231, 236, 241);
  font-size: 18px;
}

/* aplicando css a fotos de deportes*/
.deportes1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 20px 50px 20px;
}

/*aplicando transicion a imagenes deporteshtml*/
.deport:hover {
  transform: scale(1.1);
}

.depfut {
  transition: all 2s;
}

.depbas {
  transition: all 2s;
}

.depfor {
  transition: all 2s;
}

.deprug {
  transition: all 2s;
}

.depten {
  transition: all 2s;
}

.depvol {
  transition: all 2s;
}

/*aplicando titulo a las fotos */
/*futbol*/
.tituloprin1 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}

.titulosdeportes1 {
  text-align: center;
  padding: 10px 20px;
  position: absolute;
  transition: all 2s;
  transform: scale(1.1);
  opacity: 0;
  font-family: bold;
  font-size: 50px;
  border: black;
}

.titulosdeportes1:hover {
  transform: scale(1.1);
  opacity: 1;
}

/*basquetball*/
.tituloprin2 {
  position: relative;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.titulosdeportes2 {
  text-align: center;
  padding: 10px 20px;
  position: absolute;
  transition: all 2s;
  transform: scale(1.1);
  opacity: 0;
  font-family: bold;
  font-size: 50px;
}

.titulosdeportes2:hover {
  transform: scale(1.1);
  opacity: 1;
}

/*formula1*/
.tituloprin3 {
  position: relative;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.titulosdeportes3 {
  text-align: left;
  padding: 10px 20px;
  position: absolute;
  transition: all 2s;
  transform: scale(1.1);
  opacity: 0;
  font-family: bold;
  font-size: 50px;
}

.titulosdeportes3:hover {
  transform: scale(1.1);
  opacity: 1;
}

/*rugby*/
.tituloprin4 {
  position: relative;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.titulosdeportes4 {
  text-align: right;
  padding: 10px 20px;
  position: absolute;
  transition: all 2s;
  transform: scale(1.1);
  opacity: 0;
  font-family: bold;
  font-size: 50px;
}

.titulosdeportes4:hover {
  transform: scale(1.1);
  opacity: 1;
}

/*tenis*/
.tituloprin5 {
  position: relative;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.titulosdeportes5 {
  text-align: left;
  padding: 10px 20px;
  position: absolute;
  transition: all 2s;
  transform: scale(1.1);
  opacity: 0;
  font-family: bold;
  font-size: 50px;
}

.titulosdeportes5:hover {
  transform: scale(1.1);
  opacity: 1;
}

/*voley*/
.tituloprin6 {
  position: relative;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.titulosdeportes6 {
  text-align: right;
  padding: 10px 20px;
  position: absolute;
  transition: all 2s;
  transform: scale(1.1);
  opacity: 0;
  font-family: bold;
  font-size: 50px;
}

.titulosdeportes6:hover {
  transform: scale(1.1);
  opacity: 1;
}

/*aplicando flex a html.videos*/
.pvideos {
  display: flex;
  justify-content: center;
  margin: 50px 30px 40px 30px;
  color: rgb(231, 236, 241);
  font-size: 18px;
}

.videosyou {
  width: 95%;
}

.sectionvideos1 {
  display: flex;
  justify-content: space-around;
}

.sectionvideos2 {
  display: flex;
  justify-content: space-around;
}

.sectionvideos3 {
  display: flex;
  justify-content: space-around;
}

.viideos1 {
  margin: 20px 20px 20px 20px;
  width: 70%;
}

.viideos3 {
  margin: 20px 20px 20px 20px;
  width: 70%;
}

.viideos5 {
  margin: 20px 20px 20px 20px;
  width: 70%;
}

.viideos6 {
  margin: 20px 20px 20px 20px;
  width: 70%;
}

.viideos7 {
  margin: 20px 20px 20px 20px;
  width: 70%;
}

.viideos9 {
  margin: 20px 20px 20px 20px;
  width: 70%;
}

@media screen and (max-width: 490px) {
  .sectionvideos1 {
    display: block;
  }
}
/*html.idiomas*/
.volverinicio {
  position: absolute;
  bottom: 80%;
  left: 90%;
  display: inline-block;
  list-style: none;
  color: aliceblue;
}

.volverinicio2 {
  text-decoration: none;
  justify-content: center;
  flex-wrap: wrap;
}

.idiomasp {
  width: 40%;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 170px;
}

.idiomasprin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 100%;
  flex-direction: column;
}

.idiomasnombre {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  color: aliceblue;
  flex-direction: column;
}

.idiomasimagen {
  display: flex;
  width: 10%;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
}

/*fondo para futbol.html*/
.elfondofut {
  background-image: url(https://b-static.besthdwallpaper.com/el-joven-talento-del-delantero-del-club-de-futbol-paris-saint-germain-kylian-mbappe-papel-pintado-2048x1536-93143_26.jpg) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*fondo para basquet*/
.elfondobasq {
  background-image: url(https://fondosmil.com/fondo/1738.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*aplicando fondo de pantalla para tenishtml*/
.elfondoten {
  background-image: url(https://images2.alphacoders.com/987/thumb-1920-987404.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*aplicando fondo a formula1*/
.elfondofor {
  background-image: url(https://www.impulsonegocios.com/wp-content/uploads/2021/03/hamilton-auto-0303DEF.jpg);
  background-attachment: fixed;
}

/*aplicando el fondo para rugbyhtml*/
.elfondorugb {
  background-image: url(https://media.gq-magazine.co.uk/photos/5e3d4999995fbc000861255d/16:9/w_2560%2Cc_limit/20200207-parsons-01.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*aplicando fondo para voleyhtml*/
.elfondovol {
  background-image: url(https://cdn.presstv.ir/Photo/2021/6/17/606f855b-d7b0-4fe8-a862-99b813ead605.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*aplicando fondo para messihtml*/
.elfondomess {
  background-image: url(https://fondosmil.com/fondo/6220.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* primer parrafo de la seccion de messsi */
.sectionmessi1 {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px 30px 30px;
  cursor: pointer;
}

/*parrafo*/
.divmessi1 {
  display: flex;
  justify-content: flex-start;
  margin: 10px 10px 10px 10px;
}

.pmessi1 {
  color: aliceblue;
  border: rgba(0, 6, 10, 0.63);
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}

/*imagen*/
.divimgmessi1 {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 10px 10px;
}

.imgmessi1 {
  display: flex;
  justify-content: flex-end;
  margin: 5px 5px 5px 5px;
  border-radius: 15%;
  -webkit-text-stroke: 10px;
}

/*fin del primer parrafo*/
/*inicio de segundo parrafo*/
/*imagen*/
.sectionmessi2 {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px 30px 30px;
  cursor: pointer;
}

.divimgmessi2 {
  display: flex;
  justify-content: flex-start;
  margin: 10px 10px 10px 10px;
}

.imgmessi2 {
  display: flex;
  justify-content: flex-start;
  margin: 5px 5px 5px 5px;
  border-radius: 15%;
}

/*parrafo*/
.divmessi2 {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 10px 10px;
}

.pmessi2 {
  color: aliceblue;
  border: rgba(0, 6, 10, 0.63);
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
}

/*fin de segundo parrafo*/
/*inicio tercer parrafo*/
.sectionmessi3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 30px 30px 30px;
  cursor: pointer;
}

.divmessi3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
}

.pmessi3 {
  color: aliceblue;
  border: rgba(0, 6, 10, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

/*fin tercer parrafo*/
/*inico zona de fotos*/
.sectionbalondeoro {
  display: inline;
  margin: 30px 40px 30px 40px;
}

.messioro1 {
  margin: 5px 5px 5px 5px;
  border-radius: 15%;
}

.messioro2 {
  margin: 5px 5px 5px 5px;
  border-radius: 15%;
}

.messioro3 {
  margin: 5px 5px 5px 5px;
  border-radius: 15%;
}

.messioro4 {
  margin: 5px 5px 5px 5px;
  border-radius: 15%;
}

/*apliando fondo para verstappenhtml*/
.elfondover {
  background-image: url(https://b-static.besthdwallpaper.com/max-verstappen-piloto-redbull-racing-rb18-formula-1-2022-papel-pintado-2560x1600-92199_7.jpg);
}

/*informacion de verstappen fotos y parrafo*/
.sectionverstappen {
  display: flex;
  justify-content: space-around;
  margin: 30px 30px 30px 30px;
}

/*fotos*/
.divvertaimg {
  display: block;
  margin: 10px 10px 10px 10px;
}

.imagenver1 {
  margin: 5px 5px 5px 5px;
  border-radius: 15%;
}

.imagenver2 {
  margin: 5px 5px 5px 5px;
  border-radius: 15%;
}

/*parrafo*/
.divertap {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 10px 10px;
}

.pversta {
  color: aliceblue;
  border: rgba(0, 6, 10, 0.63);
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
}

/*aplicando fondo a djokovichtml*/
.elfondodjok {
  background-image: url(https://images4.alphacoders.com/100/thumb-1920-1006961.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*las imagenes iran de los costados y el texto en el medio */
/*imagenes */
.sectidjokov {
  display: flex;
  justify-content: space-around;
  margin: 30px 30px 30px 30px;
}

.imagenesdjokov {
  display: block;
  margin: 10px 10px 10px 10px;
}

.pdivdjokov {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 10px 10px;
}

/*texto*/
.pdjokov {
  color: aliceblue;
  border: rgba(0, 6, 10, 0.63);
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
}

.imagenesdjokov1 {
  display: inline;
  margin: 30px 40px 30px 40px;
}

.djokovfot1 {
  margin: 5px 5px 5px 5px;
  border-radius: 15%;
}

.djokovfot3 {
  margin: 5px 5px 5px 5px;
  border-radius: 15%;
}

.djokovfot4 {
  margin: 5px 5px 5px 5px;
  border-radius: 15%;
}

.djokovfot5 {
  margin: 5px 5px 5px 5px;
  border-radius: 15%;
}

.djokovfot6 {
  margin: 5px 5px 5px 5px;
  border-radius: 15%;
}

.djokovfot7 {
  margin: 5px 5px 5px 5px;
  border-radius: 15%;
}

/*aplicando css para imagenes y los textos que tengan dentro*/
.pfamosos {
  display: flex;
  justify-content: center;
  margin: 70px 50px 10px 50px;
  color: rgb(231, 236, 241);
  font-size: 18px;
  cursor: pointer;
}

/*primer imagen*/
.famoso1 {
  margin: 100px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.famoso1:before, .famoso1:after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 4px;
  background: #fff;
  transition: all 0.3s;
}
.famoso1:before {
  left: -100%;
}
.famoso1:after {
  left: 100%;
}
.famoso1:hover:before, .famoso1:hover:after {
  right: 15px;
}
.famoso1 .famoso1text {
  color: #fff;
  padding: 10px 20px;
  border: rgb(8, 2, 2);
  margin: 50px 50px 50px 50px;
  border-radius: 15%;
  text-align: center;
  transition: all 0.3s;
  transform: scale(1.5);
  opacity: 0;
}
.famoso1:hover .famoso1text {
  transform: scale(1);
  opacity: 1;
}
.famoso1 .cr7titulo {
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
  border: black;
}
.famoso1 .cr7parrafo {
  font-size: 20px;
  border: rgb(8, 8, 8);
  border-spacing: 10px;
}
.famoso1 .cr7titulos {
  border: black;
}

.famoso1foto {
  padding: 50px 50px 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
}

/*# sourceMappingURL=style.css.map */
