/* inicio de css*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap");
* {
  margin: 0%;
  padding: 0%;
}

/* tipo de funte de Google Fonts*/
/* solo del titulo principal*/
/*funte de zona navegable*/
/*funte para parrafos*/
/*funte de encabezados h2*/
/*root*/
/*en un futuro tendra root*/
/*fin de root*/
/*.elfondo{
    background-image: url(https://images5.alphacoders.com/571/thumb-1920-571559.jpg)!important;
    background-repeat: no-repeat;
    background-attachment: fixed;

}*/
.elfondo {
  background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1611/Tennis_ball_in_flight-Sports_Poster_Wallpaper_1366x768.jpg) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  font-family: "Nunito", sans-serif;
  color: rgb(238, 226, 226);
}

/*titulos secundarios*/
.titulo2 {
  font-family: "Nunito", sans-serif;
  color: rgb(224, 220, 220);
  display: inline;
  border: 4px solid rgb(25, 124, 124);
  margin-bottom: 5;
  background-color: rgb(25, 124, 124);
  font-size: 30px;
  display: flex;
  justify-content: center;
}

/*Inicio de header*/
.header {
  grid-area: header;
}

.logo1 {
  display: flex;
  justify-content: center;
}

.logoindex {
  width: 90%;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  display: inline;
}

.logo {
  width: 14%;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  display: inline;
}

/*todo relacionado con el titulo principal*/
h1 {
  color: rgb(5, 18, 95);
  border: 4px solid rgb(4, 22, 119);
  display: inline;
  background-color: rgb(183, 218, 235);
  font-size: 50px;
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
}

/*fin de h1*/
/*inicio de zona navegable*/
/*tezto index*/
.texto1 {
  display: flex;
  justify-content: center;
  margin: 70px 30px 10px 30px;
  color: rgb(231, 236, 241);
  font-size: 18px;
}

/*fin texto index*/
nav ul li a {
  color: rgb(250, 252, 253);
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

.zonanav1 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.zonanav2 {
  text-decoration: underline;
  width: 70%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 30px;
  margin-left: 30px;
}

/*fin de zona navegable*/
.carousel1 {
  margin: 70px 70px 70px 70px;
}

/*fin de header*/
/*Inicio de zona de imagenes = article*/
.article1 {
  display: flex;
}

.divfotos1 .divfotos2 {
  display: flex;
  justify-content: space-around;
  margin: 10px 30px 10px 40px;
}

.divfotos1 .divfotos2 {
  margin: 10px 10px 10px 20px;
}

.deportesfoto2 {
  margin: 10px 10px 10px 60px;
  display: flex;
  align-items: center;
}

.deportesfoto3 {
  margin: 10px 10px 10px 80px;
  display: flex;
  align-items: center;
}

.pprin {
  display: flex;
  align-items: center;
  margin: 10px 30px 10px 30px;
}

/*imagenes debajo*/
.articlefem {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px 10px 10px;
}

.divfotosfem .divfotosfem2 {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px 10px 10px;
  align-items: center;
}

.fotofem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 60px;
}

.fotofem2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 60px;
}

/*parafos de las segunda linea de fotos*/
.pfem {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 10px 40px 10px 30px;
}

.pfem2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 10px 20px 10px 30px;
}

.aside {
  border-radius: 9px;
  width: 100%;
  height: 100%;
  margin-left: 700px;
  background-color: blueviolet;
}

.zonavideo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.video1 {
  width: 40%;
  display: flex;
  justify-content: center;
}

/*termina zona de article*/
/*empieza el footer*/
.redes {
  display: inline-block;
  font-family: "Nunito", sans-serif;
}

.iconos {
  width: 4%;
}

.color {
  color: rgb(23, 131, 134);
}

.idioma {
  position: sticky;
  bottom: 0%;
  left: 95%;
  display: inline-block;
  list-style: none;
  color: rgb(243, 236, 236);
}

.idioma2 {
  text-decoration: none;
  color: rgb(226, 218, 218);
}

/*fin de footer*/
/*aplicando transicion de index.html*/
/*fotos debajo del  carrusel*/
.foto:hover {
  transform: scale(1.1);
}

.divfotos1 {
  transition: all 2s;
}

.divfotos2 {
  transition: all 2s;
}

.divfotosfem {
  transition: all 2s;
}

.divfotosfem2 {
  transition: all 2s;
}

/*video de youtube index*/
.you:hover {
  transform: scale(1.3);
}

.video1 {
  transition: all 2s;
}

/*fin de index*/
/*fondo para futbol.html*/
.elfondofut {
  background-image: url(https://portal.andina.pe/EDPfotografia3/Thumbnail/2022/04/26/000863712W.jpg) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*aplicando css a competiciones.html*/
.competiciones1 {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin: 70px 30px 70px 30px;
}

.competiciones2 {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin: 70px 30px 70px 30px;
}

.competiciones3 {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin: 70px 30px 70px 30px;
}

.futbolcomp {
  margin: 0px 40px 0px 0px;
}

.basquetcomp {
  margin: 0px 0px 0px 10px;
}

.teniscomp {
  margin: 0px 40px 0px 0px;
}

.boxeocomp {
  margin: 0px 0px 0px 10px;
}

.voleycomp {
  margin: 0px 40px 0px 0px;
}

.rugbycomp {
  margin: 0px 0px 0px 10px;
}

.caruselcomp {
  margin: 20px 0px 20px 0px;
}

/* aplicando css a fotos de deportes*/
.deportes1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 20px 50px 20px;
}

/*aplicando transicion a imagenes deporteshtml*/
.deport:hover {
  transform: scale(1.1);
}

.depfut {
  transition: all 2s;
}

.depbas {
  transition: all 2s;
}

.depfor {
  transition: all 2s;
}

.deprug {
  transition: all 2s;
}

.depten {
  transition: all 2s;
}

.depvol {
  transition: all 2s;
}

/*aplicando flex a html.videos*/
.articlehtmlvideo {
  margin: 0px 20px 0px 20px;
}

.videosyou {
  width: 95%;
}

.sectionvideos1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sectionvideos2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 490px) {
  .sectionvideos1 {
    display: block;
  }
}
/*html.idiomas*/
.volverinicio {
  position: absolute;
  bottom: 80%;
  left: 90%;
  display: inline-block;
  list-style: none;
  color: aliceblue;
}

.volverinicio2 {
  text-decoration: none;
  justify-content: center;
  flex-wrap: wrap;
}

.idiomasp {
  width: 40%;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 170px;
}

.idiomasprin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 100%;
  flex-direction: column;
}

.idiomasnombre {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  color: aliceblue;
  flex-direction: column;
}

.idiomasimagen {
  display: flex;
  width: 10%;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
}

/*fondo para futbol.html*/
.elfondofut {
  background-image: url(https://portal.andina.pe/EDPfotografia3/Thumbnail/2022/04/26/000863712W.jpg) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*fondo para basquet*/
.elfondobasq {
  background-image: url(https://images2.alphacoders.com/982/thumb-1920-982248.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*aplicando fondo de pantalla para tenishtml*/
.elfondoten {
  background-image: url(https://images2.alphacoders.com/987/thumb-1920-987404.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*aplicando fondo a formula1*/
.elfondofor {
  background-image: url(https://www.hdwallpapers.in/download/formula_1_lewis_hamilton_mercedes_amg_f1_power_racing_valteri_bottas_hd_f1_2020-HD.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*aplicando el fondo para rugbyhtml*/
.elfondorugb {
  background-image: url(https://wallpapercave.com/wp/wp10729887.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*aplicando fondo para voleyhtml*/
.elfondovol {
  background-image: url(https://cdn.presstv.ir/Photo/2021/6/17/606f855b-d7b0-4fe8-a862-99b813ead605.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*# sourceMappingURL=style.css.map */
