 /* inicio de css*/

 *{
    margin: 0%;
   padding: 0%;
}

/* tipo de funte de Google Fonts*/
/* solo del titulo principal*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

/*funte de zona navegable*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap');

/*funte para parrafos*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

/*funte de encabezados h2*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');



/*root*/ /*en un futuro tendra root*/


/*fin de root*/

// .elfondo{
//     background-image: url(".../imagenes/fondoprincipal.jpeg");
//     background-repeat: no-repeat;
//     background-attachment: fixed; }

/*.elfondo{
    background-image: url(https://images5.alphacoders.com/571/thumb-1920-571559.jpg)!important;
    background-repeat: no-repeat;
    background-attachment: fixed;

}*/

.elfondo{
    background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1611/Tennis_ball_in_flight-Sports_Poster_Wallpaper_1366x768.jpg)!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


p{
    font-family: 'Nunito', sans-serif;
    color: rgb(238, 226, 226);
    
}

 /*titulos secundarios*/
.titulosh2{ color: aliceblue;
    font-size: 40px;
    font-weight: bold;
    transition: .5s linear;}
.h2 span{
    color: aliceblue;
    font-size: 40px;
    font-weight: bold;
    transition: .5s linear;
}




.prueba:hover{ 
    transform: scale(1.2);
               
    
}

 .titulo2{
    font-family:'Nunito', sans-serif; 
    color: rgb(238, 240, 233) ;;
    display: inline;
    margin-bottom: 5;
    font-size: 80px;
    border:rgba(0, 6, 10, 0.63);
    display: flex;
    justify-content: center;
    transition: all 1s


}

.prueba:hover{
    color: aliceblue;
    text-shadow: 0 0 10px rgba(60, 144, 218, 0.63),
                 0 0 20px rgb(156, 179, 31),
                 0 0 30px rgba(0, 6, 10, 0.63);
}

h3{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 30px 30px;
    font-size: 40px;
}