/*aplicando css a competiciones.html*/
.tituloscompeticion1{  font-size: 70px;
                       border: black;
                       border-spacing: 2px;
                       font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
.pcompeticiones{
    display: flex;
    justify-content: center;
    margin: 50px 50px 50px 50px;
    color:rgb(231, 236, 241);
    font-size: 18px;
    text-align: center;
    
    
}

.medio{ display: flex;
        justify-content: center;
        align-items: center;
}

.competiciones11{
                   margin: 50px 70px 50px 70px;
}


/*@media a competiciones*/
@media screen and (max-width: 679px){
    .titulo2{
        font-size: 60px;
    }

}
@media screen and (max-width: 490px){

        .titulo2{
            font-size: 40px;
        }    
}

















.competiciones1{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin: 70px 30px 70px 30px;
}

.competiciones2{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin: 70px 30px 70px 30px;
}

.competiciones3{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin: 70px 30px 70px 30px;
}


.futbolcomp{  margin: 0px 40px 0px 0px;

}

.basquetcomp{ margin: 0px 0px 0px 10px;


}

.teniscomp{ margin: 0px 40px 0px 0px;


}

.boxeocomp{ margin: 0px 0px 0px 10px;


}

.voleycomp{ margin: 0px 40px 0px 0px;


}

.rugbycomp{ margin: 0px 0px 0px 10px;


}

.caruselcomp{

margin: 20px 0px 20px 0px;

}