/*aplicando css a competiciones.html*/

.competiciones1{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin: 70px 30px 70px 30px;
}

.competiciones2{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin: 70px 30px 70px 30px;
}

.competiciones3{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin: 70px 30px 70px 30px;
}


.futbolcomp{  margin: 0px 40px 0px 0px;

}

.basquetcomp{ margin: 0px 0px 0px 10px;


}

.teniscomp{ margin: 0px 40px 0px 0px;


}

.boxeocomp{ margin: 0px 0px 0px 10px;


}

.voleycomp{ margin: 0px 40px 0px 0px;


}

.rugbycomp{ margin: 0px 0px 0px 10px;


}

.caruselcomp{

margin: 20px 0px 20px 0px;

}