/*parrafo deportes html*/

.pdeportes{
    display: flex;
    justify-content: center;
    margin: 70px 30px 50px 30px;
    color:rgb(231, 236, 241);
    font-size: 18px;

}



/* aplicando css a fotos de deportes*/

.deportes1{ display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 20px 20px 50px 20px;

}

/*aplicando transicion a imagenes deporteshtml*/

.deport:hover{
    transform: scale(1.1);
    
    
}

.depfut{
    transition: all 2s;

}

.depbas{ 
    transition: all 2s;

}

.depfor{
    transition: all 2s;
}

.deprug{
    transition: all 2s;
}

.depten{
    transition: all 2s;
}

.depvol{
    transition: all 2s;
}


/*aplicando titulo a las fotos */
/*futbol*/

.tituloprin1{ 
            position: relative;
            display: flex;
            justify-content:flex-start;
            align-items:flex-start ;
            cursor: pointer;
}


.titulosdeportes1{ text-align:center;
                  padding: 10px 20px;
                  position: absolute;
                  transition: all 2s;
                  transform: scale(1.1);
                  opacity: 0;
                  font-family: bold ;
                  font-size: 50px;
                  border: black;
                  
                 
}

.titulosdeportes1:hover{
    transform: scale(1.1);
    opacity: 1;

}

/*basquetball*/


.tituloprin2{
    position: relative;
    display: flex;
    align-items:flex-start ;
    cursor: pointer;
}

.titulosdeportes2{ text-align:center;
    padding: 10px 20px;
    position: absolute;
    transition: all 2s;
    transform: scale(1.1);
    opacity: 0;
    font-family: bold;
    font-size: 50px;
}

.titulosdeportes2:hover{
transform: scale(1.1);
opacity: 1;

}

/*formula1*/

.tituloprin3{
    position: relative;
    display: flex;
    align-items:flex-start ;
    cursor: pointer;
}

.titulosdeportes3{ text-align:left;
    padding: 10px 20px;
    position: absolute;
    transition: all 2s;
    transform: scale(1.1);
    opacity: 0;
    font-family: bold;
    font-size: 50px;
}

.titulosdeportes3:hover{
transform: scale(1.1);
opacity: 1;

}

/*rugby*/

.tituloprin4{
    position: relative;
    display: flex;
    align-items:flex-start ;
    cursor: pointer;
}

.titulosdeportes4{ text-align:right;
    padding: 10px 20px;
    position: absolute;
    transition: all 2s;
    transform: scale(1.1);
    opacity: 0;
    font-family: bold;
    font-size: 50px;
}

.titulosdeportes4:hover{
transform: scale(1.1);
opacity: 1;

}

/*tenis*/

.tituloprin5{
    position: relative;
    display: flex;
    align-items:flex-start ;
    cursor: pointer;
}

.titulosdeportes5{ text-align:left;
    padding: 10px 20px;
    position: absolute;
    transition: all 2s;
    transform: scale(1.1);
    opacity: 0;
    font-family: bold;
    font-size: 50px;
}

.titulosdeportes5:hover{
transform: scale(1.1);
opacity: 1;

}

/*voley*/

.tituloprin6{
    position: relative;
    display: flex;
    align-items:flex-start;
    cursor: pointer;
}

.titulosdeportes6{ text-align:right;
    padding: 10px 20px;
    position: absolute;
    transition: all 2s;
    transform: scale(1.1);
    opacity: 0;
    font-family: bold;
    font-size: 50px;
}

.titulosdeportes6:hover{
transform: scale(1.1);
opacity: 1;

}
