/*parrafo deportes html*/

.pdeportes{
    display: flex;
    justify-content: center;
    margin: 70px 30px 50px 30px;
    color:rgb(231, 236, 241);
    font-size: 18px;

}



/* aplicando css a fotos de deportes*/

.deportes1{ display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 20px 20px 50px 20px;

}

/*aplicando transicion a imagenes deporteshtml*/

.deport:hover{
    transform: scale(1.1);
}

.depfut{
    transition: all 2s;

}

.depbas{ 
    transition: all 2s;

}

.depfor{
    transition: all 2s;
}

.deprug{
    transition: all 2s;
}

.depten{
    transition: all 2s;
}

.depvol{
    transition: all 2s;
}