/*aplicando fondo a djokovichtml*/

.elfondodjok{
    background-image: url(https://images4.alphacoders.com/100/thumb-1920-1006961.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

/*las imagenes iran de los costados y el texto en el medio */

/*imagenes */

.sectidjokov{  display: flex;
               justify-content: space-around;
               margin: 30px 30px 30px 30px;
               


}


.imagenesdjokov{ display: block;
                  margin: 10px 10px 10px 10px;
                

}

.pdivdjokov{ display: flex;
    justify-content: flex-end;
    margin: 10px 10px 10px 10px;

}
/*texto*/


.pdjokov{ 
    color: aliceblue;
    border:rgba(0, 6, 10, 0.63);
    display: flex;
    justify-content:flex-end;
    font-size: 18px;
    


}

.imagenesdjokov1{ 
                  
                  display: inline;
                  margin: 30px 40px 30px 40px;
                
}
 
.djokovfot1{   margin: 5px 5px 5px 5px;
               border-radius: 15%;

}

.djokovfot3{
               margin: 5px 5px 5px 5px;
               border-radius: 15%;

}

.djokovfot4{ margin: 5px 5px 5px 5px;
             border-radius: 15%;

}

.djokovfot5{  margin: 5px 5px 5px 5px;
              border-radius: 15%;


}

.djokovfot6{ margin: 5px 5px 5px 5px;
             border-radius: 15%;
}

.djokovfot7{ margin: 5px 5px 5px 5px;
             border-radius: 15%;

}

/*@media para djokovic carrusel*/

@media screen and (max-width: 1119px){

    .sectidjokov{
        display: block;
    }

    .imagenesdjokov{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px 20px 20px 20px;
    }

    .djokovfot1{ width: 50%;

    }

    .djokovfot3{ width: 50%;
        
    }

    .pdivdjokov{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .djokovfot7{
        display: none;
    }
}

@media screen and (max-width: 1328px){
    .djokovfot6{
        display: none;
    }
}

@media screen and (max-width: 705px){
    .djokovfot5{
        display: none;
    }
}