/*aplicando fondo a djokovichtml*/

.elfondodjok{
    background-image: url(https://images4.alphacoders.com/100/thumb-1920-1006961.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed
   
}