/*aplicando fondo a formula1*/

.elfondofor{
    background-image: url(https://www.hdwallpapers.in/download/formula_1_lewis_hamilton_mercedes_amg_f1_power_racing_valteri_bottas_hd_f1_2020-HD.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



