/*fondo para futbol.html*/

.elfondofut{
    background-image: url(https://portal.andina.pe/EDPfotografia3/Thumbnail/2022/04/26/000863712W.jpg)!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
}