/*fondo para futbol.html*/

.elfondofut{
    background-image: url(https://b-static.besthdwallpaper.com/el-joven-talento-del-delantero-del-club-de-futbol-paris-saint-germain-kylian-mbappe-papel-pintado-2048x1536-93143_26.jpg)!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
}