/*aplicando fondo de pantalla para tenishtml*/

.elfondoten{
    background-image: url(https://images2.alphacoders.com/987/thumb-1920-987404.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}