/*aplicando fondo de pantalla para tenishtml*/

.elfondoten{
    background-image: url(https://images2.alphacoders.com/987/thumb-1920-987404.jpg);
    
    background-attachment: fixed;
}

@media screen and (max-width: 2000px){
    .elfondoten{
        background-repeat: repeat;
    }

}