/*apliando fondo para verstappenhtml*/

.elfondover{
    background-image: url(https://b-static.besthdwallpaper.com/max-verstappen-piloto-redbull-racing-rb18-formula-1-2022-papel-pintado-2560x1600-92199_7.jpg);
    
    
}


/*informacion de verstappen fotos y parrafo*/


.sectionverstappen{ display: flex;
                    justify-content: space-around;
                    margin: 30px 30px 30px 30px;
                     }

/*fotos*/
.divvertaimg{ display: block;
              margin: 10px 10px 10px 10px;

}
.imagenver1{  margin: 5px 5px 5px 5px;
              border-radius: 15%;

}

.imagenver2{  margin: 5px 5px 5px 5px;
              border-radius: 15%;
}

/*parrafo*/
.divertap{ display: flex;
           justify-content: flex-end;
            margin: 10px 10px 10px 10px;

}


.pversta{ color: aliceblue;
          border:rgba(0, 6, 10, 0.63);
          display: flex;
          justify-content: flex-end;
          font-size: 18px;

}