
/*aplicando flex a html.videos*/




.pvideos{  
    display: flex;
    justify-content: center;
    margin: 50px 30px 40px 30px;
    color:rgb(231, 236, 241);
    font-size: 18px;

}







.videosyou{
    width: 95%;
}

.sectionvideos1{ display: flex;
                 justify-content: space-around;
                 
                

}

.sectionvideos2{
                 display: flex;
                 justify-content: space-around;
                 

}

.sectionvideos3{
                 display: flex;
                 justify-content: space-around;
                 

}



.viideos1{  margin: 20px 20px 20px 20px;
            width: 70%;
            

}




.viideos3{ margin: 20px 20px 20px 20px;
    width: 70%;
    
    
}



.viideos5{ margin: 20px 20px 20px 20px;
    width: 70%;
    
    
}

.viideos6{ margin: 20px 20px 20px 20px;
    width: 70%;
    
    
}

.viideos7{ margin: 20px 20px 20px 20px;
    width: 70%;
    
    
}



.viideos9{ margin: 20px 20px 20px 20px;
    width: 70%;
    
    
}






@media screen and (max-width: 1379px){
    .sectionvideos1{display: block; }

    .sectionvideos2{display: block; }

    .sectionvideos3{display: block; }
    
}