
/*aplicando flex a html.videos*/




.pvideos{  
    display: flex;
    justify-content: center;
    margin: 50px 30px 40px 30px;
    color:rgb(231, 236, 241);
    font-size: 18px;

}







.videosyou{
    width: 95%;
}

.sectionvideos1{ display: flex;
                 justify-content: space-around;
                 align-items: center;
                

}

.sectionvideos2{
                 display: flex;
                 justify-content: space-around;
                 align-items: center;


}

.sectionvideos3{
                 display: flex;
                 justify-content: space-around;
                 align-items: center;

}

@media screen and (max-width: 490px){
    .sectionvideos1{display: block; }
    
}