@import 'base/lista';
/*aplicando flex a html.videos*/

.articlehtmlvideo{ margin: 0px 20px 0px 20px;

}



.videosyou{
    width: 95%;
}

.sectionvideos1{ display: flex;
                justify-content: space-around;
            align-items: center;
                

}

.sectionvideos2{
    display: flex;
    justify-content: space-around;
    align-items: center;


}
