/*aplicando fondo para voleyhtml*/

.elfondovol{
    background-image: url(https://cdn.presstv.ir/Photo/2021/6/17/606f855b-d7b0-4fe8-a862-99b813ead605.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width: 250px){
    .elfondovol{
        background-repeat: repeat;
    }

}